/******************************************************************
Base Stylesheet
******************************************************************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix,
.cf {
    *zoom: 1;
    &::before,
    &::after {
        content: " ";
        display: table;
    }
    &::after {
        clear: both;
    }
}

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*********************
GENERAL STYLES
*********************/

body {
    background-color: $white;
    color: $black;

    img {
        height: auto;
        margin: 0 0 $space-xs 0;
        max-width: 100%;
    }
}

hr {
    background-color: $horned-frog-grey;
    border: 0;
    height: 3px;
    margin-bottom: $space-m;
}

/*********************
LINK STYLES
*********************/

a {
    color: $purple;
    text-decoration: none;

    /* on hover */
    &:hover {
        color: $black;
    }

    &:focus,
    &:active {
        color: $black;
        -webkit-box-shadow: $focus-black;
                box-shadow: $focus-black;
    }

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/*********************
Tables Normalize
*********************/

pre {
    background-color: $light-grey;
    border: 1px solid $light-grey2;
    padding: $space-m;
}

/***********************
Main Container
************************/

.mjp-main {

    .h2,
    h2 {
        font-size: 1.6em;
        @include media( $medium-screen ) {
            font-size: $h2-font-size;
        }
    }
    a {
        font-weight: $font-bold;
        display: inline-block !important;

        &:hover {
            color: $black;
            border-bottom: 1px solid $black;
        }

        &:focus {
            outline: 1px dotted $black;
        }
    }
}
