%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-instagram-dims {
	width: 40px;
	height: 40px;
}

.svg-linkedin {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-linkedin-dims {
	width: 40px;
	height: 40px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-twitter-dims {
	width: 40px;
	height: 40px;
}

