/******************************************************************
Layout
******************************************************************/
// Contains contrains of 1100px
.mjp-layout-constrain {
    margin-left: auto;
    margin-right: auto;

    @include media( $large-screen ) {
        max-width: $length;
    }
}

/* Centers a block element */
.mjp-layout-center {
    @include margin(null auto);
    width: 100%;
}

/* No constrains containers
   Meaning that they can be used as full-width backgrounds
   Using these classes will guarantee that you have enough
   padding in mobile versions
*/
%mjp-layoutwrap,
.mjp-layoutwrap {
    @include margin(0 null);
    width: 100%;
}

.mjp-layoutwrap--transparent {
    background-color: transparent;
    padding: $space-l $space-m $space-l;

    @include media( $large-screen ) {
        padding-left: 0;
        padding-right: 0;
    }
}

%background-defaults {
    background-size: cover;
    height: 400px;
    width: 100%;
}

// backgrounds
.mjp-leadon-bg {
    background: $black url('../images/leadon-desktop.jpg') center center no-repeat;
    @extend %background-defaults;
}

.mjp-webstandards-bg {
    background: $black url('../images/webstandards-desktop.jpg') center center no-repeat;
    @extend %background-defaults;
}

.mjp-addran-bg {
    background: $black url('../images/addran-desktop.jpg') center center no-repeat;
    @extend %background-defaults;
}
