/******************************************************************
Layout
******************************************************************/
// Contains contrains of 1100px
.mjp-layout-constrain {
    margin-left: auto;
    margin-right: auto;

    @include media( $large-screen ) {
        max-width: $length;
    }
}

/* Centers a block element */
.mjp-layout-center {
    @include margin(null auto);
    width: 100%;
}

/* No constrains containers
   Meaning that they can be used as full-width backgrounds
   Using these classes will guarantee that you have enough
   padding in mobile versions
*/
%mjp-layoutwrap,
.mjp-layoutwrap {
    @include margin(0 null);
    width: 100%;
}

.mjp-layoutwrap--dark {
    @extend %mjp-layoutwrap;
    background-color: $black;
    color: $white;
    padding: $space-m;

    blockquote {
        border-left: 10px solid $white;
    }
}

.mjp-layoutwrap--dark--border {
    @extend %mjp-layoutwrap;
    border-bottom: 3px solid $dark-grey;
}

.mjp-layoutwrap--purple {
    @extend %mjp-layoutwrap;
    background-color: $purple;
    color: $white;
    padding: $space-l;

    blockquote {
        border-left: 10px solid $white;
    }
}

.mjp-layoutwrap--hornedfrog-grey {
    @extend %mjp-layoutwrap;
    background-color: $horned-frog-grey;
    color: $white;
    padding: $space-l;

    blockquote {
        border-left: 10px solid $white;
    }
}

.mjp-layoutwrap--transparent {
    background-color: transparent;
    padding: $space-l $space-m $space-l;

    @include media( $large-screen ) {
        padding-left: 0;
        padding-right: 0;
    }
}

.mjp-layoutwrap--grey {
    @extend %mjp-layoutwrap;
    background-color: $light-grey;
    padding: $space-l 1.2em;
    padding: $space-l;
}
