/*********************
MAIN NAVIGATION
*********************/
// Hamburger Button
.mjp-hamburger {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: $space-m;
  overflow: visible;

  @include media( $small-screen) {
        position: absolute;
        top: $space-m;
        right: $space-m;
  }
}

.mjp-hamburger-box {
  /**
   * Magic numbers are to align
   * the text and hamburger icon
   */
  height: 22px;
  display: inline-block;
  float: right;
  position: relative;
  margin-left: $space-m;
  width: 25px;
}

.mjp-hamburger-inner {
  display: block;
  margin: -2px;
  position: relative;
  top: 50%;

  &,
  &:before,
  &:after {
    background-color: $black;
    border-radius: 1px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 25px;
  }

  &:before {
    top: -7px;
  }

  &:after {
    bottom: -7px;
  }
}

html.js {
    /* Overlay style */
    .mjp-overlay {
    	position: fixed;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	background: rgba(17,17,17,0.9);
    }

    /* Overlay closing cross */
    .mjp-overlay .mjp-overlay-close {
    	width: 40px;
    	height: 40px;
    	position: absolute;
    	right: 20px;
    	top: 20px;
    	overflow: hidden;
    	border: none;
    	background: url(../images/cross.png) no-repeat center center;
    	text-indent: 200%;
    	color: transparent;
    	outline: none;
    	z-index: 100;
    }

    /* Menu style */
    .mjp-overlay nav {
    	text-align: center;
    	position: relative;
    	top: 50%;
    	height: 60%;
    	font-size: 54px;
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    }

    .mjp-overlay ul {
    	list-style: none;
    	padding: 0;
    	margin: 0 auto;
    	display: inline-block;
    	height: 100%;
    	position: relative;
    }

    .mjp-overlay ul li {
    	display: block;
    	height: 20%;
    	height: calc(100% / 5);
    	min-height: 54px;
    }

    .mjp-overlay ul li a {
    	font-weight: 300;
    	display: block;
    	color: #fff;
    	-webkit-transition: color 0.2s;
    	transition: color 0.2s;
    }

    .mjp-overlay ul li a:hover,
    .mjp-overlay ul li a:focus {
    	color: $secondary-yellow;
    }

    /* Effects */
    .mjp-overlay-hugeinc {
    	opacity: 0;
    	visibility: hidden;
    	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    	transition: opacity 0.5s, visibility 0s 0.5s;
    }

    .mjp-overlay-hugeinc.open {
    	opacity: 1;
    	visibility: visible;
    	-webkit-transition: opacity 0.5s;
    	transition: opacity 0.5s;
    }

    .mjp-overlay-hugeinc nav {
    	-webkit-perspective: 1200px;
    	perspective: 1200px;
    }

    .mjp-overlay-hugeinc nav ul {
    	opacity: 0.4;
    	-webkit-transform: translateY(-25%) rotateX(35deg);
    	transform: translateY(-25%) rotateX(35deg);
    	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    	transition: opacity 0.5s, -webkit-transform 0.5s;
    	transition: transform 0.5s, opacity 0.5s;
    	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    }

    .mjp-overlay-hugeinc.open nav ul {
    	opacity: 1;
    	-webkit-transform: rotateX(0deg);
    	transform: rotateX(0deg);
    }

    .mjp-overlay-hugeinc.close nav ul {
    	-webkit-transform: translateY(25%) rotateX(-35deg);
    	transform: translateY(25%) rotateX(-35deg);
    }

    @media screen and (max-height: 30.5em) {
    	.mjp-overlay nav {
    		height: 70%;
    		font-size: 34px;
    	}
    	.mjp-overlay ul li {
    		min-height: 34px;
    	}
    }
}
/* Javascript disabled */
html.no-js {
    .mjp-overlay-open {
    	display: none;
    }

    .mjp-overlay-close {
    	display: none;
    }
    .mjp-top-nav {
        margin-top: 0;
        margin-bottom: 0;
        clear: both;

        @include media( $medium-screen ) {
            display: block;
        }

        ul {
            @include media( $medium-screen ) {
                list-style: none;
            }
        }

        li {
            display: block;
            float: none;

            @include media( $medium-screen ) {
                border: none;
                float: left;
                position: relative;
            }

            a {
                color: $purple;
                display: block;
                padding: $space-m;
                text-decoration: none;

                @include media( $medium-screen ) {
                    padding: $space-xs $space-default;
                    text-transform: uppercase;
                }

                &:hover {
                    border-bottom: 3px solid $black;
                    color: $black;
                    text-decoration: none;
                    font-weight: $font-normal;
                }

                &:focus {
                    border-bottom: 3px solid $black;
                    color: $black;
                    outline: 1px dotted $black;
                }
            }
        } /* end .menu li */
    }
}
