/*
MeanMenu 2.0.7
--------
To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)
*/

/* Give users the ability to skip nav
* Accessibility element
*/
a.tcu-skip-nav {
    color: $white;
    position: absolute;
    top: 80px;
    right: 10px;

    @include media( $medium-screen ) {
        top: 200px;
        right: 20px;
    }

    &:focus {
        left: 6px;
        top: 200px;
        height: auto;
        width: 200px;
        display: block;
        font-size: 14px;
        font-weight: $font-bold;
        padding: 15px 23px 14px;
        background: $light-grey;
        color: $purple;
        z-index: 100000;
        line-height: normal;
        text-decoration: none;
        clip: auto;
    }
}

.tcu-hamburger-box {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;
}

.tcu-hamburger-inner {
    display: block;
    margin: -2px;
    position: relative;
    top: 50%;

    &,
    &::before,
    &::after {
        background-color: $white;
        border-radius: 3px;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
        transition-property: -webkit-transform;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        width: 26px;
    }

    &::before {
        top: -8px;
    }

    &::after {
        bottom: -8px;
    }
}

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
    display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
    background: $black;
    border-bottom: 3px solid $dark-grey;
    float: left;
    min-height: 48px;
    padding: $space-s 0 0;
    position: relative;
    width: 100%;
    z-index: 99999;
}

.mean-container .mean-text {
    display: block;
    float: right;
    height: 22px;
    margin-right: $space-xs;
    position: relative;
    text-indent: 0;
}

// Hamburger Button
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: $space-m;
    overflow: visible;
}

.mean-container button.meanmenu-reveal {
    background-color: transparent;
    border: 1px solid $white;
    cursor: pointer;
    color: $white;
    display: block;
    height: 22px;
    line-height: 22px;
    padding: $space-s;
    position: absolute;
    right: 0;
    text-decoration: none;
    width: 90px;
}

.mean-container .mean-nav {
    width: 100%;
    float: left;
    margin-top: 50px;
    width: 100%;
}

.mean-container .mean-nav ul {
    padding: 0;
    list-style-type: none;
    margin: 80px 0 0;
    width: 100%;
}

/* removed margin top for children */
.mean-container .mean-nav li.menu-item-has-children ul,
.mean-container .mean-nav li.tcu-has-children ul {
    margin-top: 0;
}

.mean-container .mean-nav ul li {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.mean-container .tcu-search-form__mobile {
    background-color: $purple;
    color: $white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;

    .tcu-searchform__submit {
        height: auto;
        width: 35px;
    }

    .tcu-searchform {
        margin: 3px auto 0;
        width: 90%;
    }
}

.mean-container .mean-nav ul li a {
    border-top: 1px solid $black;
    border-top: 1px solid rgba(255, 255, 255, 0.95);
    color: $white;
    display: block;
    float: left;
    margin: 0;
    padding: $space-m;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.mean-container .tcu-nav-universal__icons {
    background-color: $dark-grey;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
}

.mean-container .mean-nav ul li li a {
    border-top: 1px solid #f1f1f1;
    border-top: 1px solid rgba(255, 255, 255, 0.95);
    filter: alpha(opacity=95);
    opacity: 0.95;
    padding: $space-m 10%;
    text-shadow: none;
    visibility: visible;
    width: 80%;
}

.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
    padding: $space-m 15%;
    width: 70%;
}

.mean-container .mean-nav ul li li li li a {
    padding: $space-m 20%;
    width: 60%;
}

.mean-container .mean-nav ul li li li li li a {
    padding: $space-m 25%;
    width: 50%;
}

.mean-container .mean-nav ul li a:hover {
    background: #252525;
    background: rgba(255, 255, 255, 0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 32px;
    margin-top: 1px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 26px;
    z-index: 2;
}
.mean-container .mean-nav ul li a.mean-expand img {
    height: 10px;
    // margin-left: 5px;
    max-width: 30px;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: $purple;
}

.mean-container .mean-push {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mean-nav .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.mean-remove {
    display: none !important;
}
