.mjp-cards {
    margin-top: $space-m;
    margin-bottom: $space-m;

    a {
        display: block;
        clear: both;
    }
}
.mjp-modal {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);

}
