%background-defaults {
    background-size: cover;
    height: 500px;
    width: 100%;
}

/*
 * Background for all our cards
 * Use them as background images
 * to switched the size depending
 * on the device
 */

// Web Standards
.mjp-webstandards-bg {
    background: $black url('../images/webstandards-desktop.jpg') center center no-repeat;
    @extend %background-defaults;
}
.mjp-leadon-bg {
    background: $black url('../images/leadon-desktop.jpg') center center no-repeat;
    @extend %background-defaults;
}

.mjp-addran-bg {
    background: $black url('../images/addran-desktop.jpg') center center no-repeat;
    @extend %background-defaults;
}
