/*********************
ENTRY CONTENT
*********************/
// Unstyled lists
.mjp-unstyled-list {
  list-style-type: none;
  @include margin(0 null);

  li {
    display: list-item;
    margin: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}
