/*************************
Tables
*************************/
.tcu-table {

    width: 100%;
    @include margin($space-m null);

    th {
        background-color: $purple;
        color: $white;
        padding: $space-m;
        text-align: left;
    }

    td {
        padding: $space-m;
    }

    tr {
        border-bottom: 1px solid $grey;

        &:nth-child(odd) {
            background-color: $light-grey;
        }
    }

}

.tcu-table--border {
    border: 1px solid $grey;
}